body{
    background: #42A5F5;
}

.card {
    /* Add shadows to create the "card" effect */
    background: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 350px;
    margin: auto;
    margin-top: 200px;
    height: 280px;

}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container {
    padding: 2px 16px;
}

h4{
    font-family: 'Roboto' , sans-serif;
}

#signup{
    align-items: flex-start;
}

#loginbutton{
    align-items: flex-end;
}
