.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container {
    padding: 2px 16px;
}

h4{
    font-family: 'Roboto' , sans-serif;
}

#signin{
    align-items: flex-start;
}

#loginbutton{
    align-items: flex-end;
}
body{
    background: #26A69A;
}

.card {

    background: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 350px;
    margin: auto;
    margin-top: 160px;
    height: 330px;

}